/* defatul */
ul, li{
    list-style :none;
}
.filter-wrap{
    overflow: hidden;
    border: solid 1px #c1c1c1;
}
.filter-wrap li{
    float:left;
    margin-left: 20px;
}
.filter-wrap li:last-child{
    margin-left:0;
}